:root {
  --white-color: #fff;
  --error-color: crimson;
  --error-success: rgb(20, 220, 77);
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: var(--white-color);
  padding: 10px;
  text-align: center;
}

.logo-container {
  display: inline-block;
  vertical-align: middle;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px; /* Adjust the margin as needed */
}

nav {
  margin-top: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: var(--white-color);
  transition: opacity 0.3s;
}

nav a:hover {
  opacity: 0.7;
}

main {
  padding: 20px;
  text-align: center; /* Center the content */
}

.server-error {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--error-color);
  border-bottom: 2px solid var(--error-color); 
  padding: 5px 25px;
  max-width: 100%; margin-bottom: 5px;
}

.server-success {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--error-success);
  border-bottom: 2px solid var(--error-success); 
  padding: 5px 25px;
  max-width: 100%; margin-bottom: 5px;
}

.hidden {
  display: none;
}
.current {
  font-style: oblique;
}
.delete {
  background: var(--error-color);
}

#map {
  height: 400px; /* Set a fixed height or adjust as needed */
  margin: 20px auto; /* Center the map horizontally */
  border-radius: 15px;
  border-width: 5px;
  border-style: solid;
  border-color: silver;
}

/* Responsive styling */
@media (orientation: portrait) {
  h1 {
    font-size: 1.50rem; /* Adjust the font size for smaller screens */
  }
  table th:nth-child(1),
  table td:nth-child(1),
  table th:nth-child(3),
  table td:nth-child(3),
  table th:nth-child(5),
  table td:nth-child(5),
  table th:nth-child(6),
  table td:nth-child(6),
  table th:nth-child(7),
  table td:nth-child(7) {
      display: none;
  }

  #map, select {
    width: 90%; /* Adjust the width for portrait orientation */
  }
  #zoekbalk, #zoek { display: none; }
}

@media (orientation: landscape) {
  #map, select  {
    width: 50%; /* Adjust the width for landscape orientation */
  }
  #zoekbalk {
    width:45%;
  }
  #zoek { padding-top:10px; width:4.4rem; height:2.5rem;}
}