/* Dhr. Allen Pieter */
:root { 
  --white-color: #fff;
  --error-color: crimson;
  --error-success: rgb(20, 220, 77);
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  /*background-color: #333;*/
  color: #333;
  padding: 10px;
  text-align: left;
}
.logo-container {
  display: inline-block;
  vertical-align: middle;
}

nav {
  background:#dfe2e4;
  margin-top: 10px;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 15px;
}
nav a {
  text-decoration: none;
  color: #000;
  transition: opacity 0.3s;
  font-size: 1.5vw;
}
nav a:hover {
  opacity: 0.7;
}
main {
  padding: 20px;
  text-align: center; /* Center the content */
}

th {
  background-color: #333;
  color: none;
}
th, td { border: none; }
td:hover { cursor: default; }

.date-error {
  color: var(--error-color);
  border-bottom: 2px solid var(--error-color); 
}
.server-error {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--error-color);
  border-bottom: 2px solid var(--error-color); 
  padding: 5px 25px;
  max-width: 100%; margin-bottom: 5px;
}
.server-success {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--error-success);
  border-bottom: 2px solid var(--error-success); 
  padding: 5px 25px;
  max-width: 100%; margin-bottom: 5px;
}

.hidden {
  display: none;
}
.current {
  font-style: oblique;
}

#map {
  height: 400px; /* Set a fixed height or adjust as needed */
  margin: 20px auto; /* Center the map horizontally */
  border-radius: 15px;
  border-width: 5px;
  border-style: solid;
  border-color: silver;
}

.complaint-card {
  border-radius: 8px;
  padding:10px;
  min-height: 12rem; 
  margin: 20px auto;
  border: 2px solid black;
}
.complaint-card h3,
.complaint-card input[name="name"],
.complaint-card input[name="email"],
.complaint-card input[name="title"],
.complaint-card input[name="location"],
.complaint-card textarea {
  display: block;
  margin-bottom: 8px;  /* Add margin to separate each element */
}

/* Responsive styling */
@media (orientation: portrait) {
  h2 {
    font-size: 1.50rem; /* Adjust the font size for smaller screens */
  }
  nav a {
    font-size: 3vw;
  }
  table th:nth-child(1),
  table td:nth-child(1),
  table th:nth-child(3),
  table td:nth-child(3),
  table th:nth-child(5),
  table td:nth-child(5),
  table th:nth-child(6),
  table td:nth-child(6),
  table th:nth-child(7),
  table td:nth-child(7) {
    display: none;
  }

  #map, select, .complaint-card {
    width: 90%; /* Adjust the width for portrait orientation */
  }
}

@media (orientation: landscape) {
  #map, select, .complaint-card  {
    width: 50%; /* Adjust the width for landscape orientation */
  }
}